<!DOCTYPE html>
<html>
    <head>
        <title>Light Table Blog</title>
                <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <link rel="stylesheet" type="text/css" href="/css/blog.css" />
        <link rel="icon" type="image/png" href="/images/icon.png">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="uberwrapper">

            <div id="sidebar">
                <h1>
                    <a href="/blog/">
                        <img src="/images/logo.png" height="40" class="logo">
                        <span>Blog</span>
                    </a>
                </h1>
                <ul class="sidelinks">
                    <li><a href="/archive">Archive</a></li>
                    <li><a href="https://groups.google.com/forum/#!forum/light-table-discussion">Discussion</a></li>
                    <li><a href="http://www.lighttable.com">Light Table</a></li>
                </div>

                {{ content }}

            </div>
            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-36105397-1']);
                _gaq.push(['_setDomainName', 'lighttable.com']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
        </body>
    </head>
</html>
